# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

In [1]:
import os
os.getcwd()

'C:\\Users\\uAndo'

In [2]:
os.chdir('C:\\Users\\uAndo\\Downloads')

In [3]:
os.getcwd()

'C:\\Users\\uAndo\\Downloads'

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [4]:
import numpy as np
import pandas as pd
recipes = pd.read_csv('data_recipes_sample.csv', encoding = 'ISO-8859-1', parse_dates = ['submitted'])
reviews = pd.read_csv('data_reviews_sample.csv', encoding = 'ISO-8859-1', delimiter = ',')
print(reviews)

        Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [5]:
print("Таблица: 'Recipes':\nКол-во точек данных:%s\nКол-во столбцов:%s\nТип данных каждого столбца:\n%s\n" % (recipes.shape[0], recipes.shape[1], recipes.dtypes))
print("Больше информации: ")
recipes.info()
print("Таблица: 'Reviews':\nКол-во точек данных:%s\nКол-во столбцов:%s\nТип данных каждого столбца:\n%s\n" % (reviews.shape[0], reviews.shape[1], reviews.dtypes))
print(f"Больше информции: ")
reviews.info()

Таблица: 'Recipes':
Кол-во точек данных:30000
Кол-во столбцов:8
Тип данных каждого столбца:
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

Больше информации:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB
Таблица: 'Reviews':
Кол-во точек данных:126696
Кол-во столбцов:6
Тип данных каждого столбца:
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

Больше информции:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126696 entries, 0 to 126695
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  126696 non-null  int64
 1   user_id     126696 non-null  int64
 2   recipe_id   126696 non-null  int64
 3   date        126696 non-null  object
 4   rating      126696 non-null  int64
 5   review      126679 non-null  object
dtypes: int64(4), object(2)
memory usage: 5.8+ MB

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [6]:
def NonCounter(table):
    t1 = pd.DataFrame(table)
    t1 = t1.isna().sum(axis = 1)
    t1_num_rows = len(t1[t1 != 0].index)
    print('Кол-во пропусков в талице по столбцам: \n%s' % (table.isna().sum()))
    print('%3.5f%% доля строк в таблице, содержащих пропуски' % (t1_num_rows/t1.shape[0]*100))
    
print("Для DataFrame 'Recipes': ")
NonCounter(recipes)
print()
print("Для DataFrame 'Reviews': ")
NonCounter(reviews)

Для DataFrame 'Recipes':
Кол-во пропусков в талице по столбцам:
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
56.84667% доля строк в таблице, содержащих пропуски

Для DataFrame 'Reviews':
Кол-во пропусков в талице по столбцам:
Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64
0.01342% доля строк в таблице, содержащих пропуски

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [7]:
averRating = reviews["rating"].mean()
averMinutes = recipes["minutes"].mean()
averSteps = recipes["n_steps"].mean()
averIngred = recipes["n_ingredients"].mean()
print('Средний рейтинг рецепта с точностью до десятитысячных: %2.4f' % averRating)
print('Среднее время приготовления рецепта с точностью до десятитысячных: %2.4f' % averMinutes)
print('Среднее кол-во шагов в рецепте с точностью до десятитысячных: %2.4f' % averSteps)
print('Среднее кол-во ингредиентов в рецепте с точностью до десятитысячных: %2.4f' % averIngred)

Средний рейтинг рецепта с точностью до десятитысячных: 4.4108
Среднее время приготовления рецепта с точностью до десятитысячных: 123.3581
Среднее кол-во шагов в рецепте с точностью до десятитысячных: 9.8056
Среднее кол-во ингредиентов в рецепте с точностью до десятитысячных: 9.0083

1.5 Создайте серию из 10 случайных названий рецептов.

In [8]:
def DetRandomSeries(table, n, column):
    randSample = table.sample(n = n)
    return randSample[column]
print(DetRandomSeries(recipes, 10, "name"))
print(DetRandomSeries(recipes, 20, "description"))
print(DetRandomSeries(reviews, 6, "review"))

7567                                    corn casserole iii
24073                                 shrimp dipping broth
2617                      beef braised in sweet white wine
4540                                candied sweet potatoes
1339                                atlantic imperial crab
1829                                     baked egg custard
22815    roasted red onions and fresh figs with sherry ...
10098                       easy microwave chocolate fudge
29494                                witches brew marinade
26752                                    sweet potato trta
Name: name, dtype: object
26231    you won't believe how good this is,and it's so...
3119     another warm you up great tasting soup. thick ...
11911    light and refreshing cucumber dressing. easy t...
7004     homemade cinnamon baking chips for use in scon...
5208     neat breakfast (or dinner) meal. quiche's are ...
13604    given out by butcher at henry's farmers market...
16748                       from palm beach post newspaper
3791     i got the original recipe from allrecipes.com,...
776      this is from razzle dazzle recipes.  cook time...
8012     this recipe will be one of my week 4, 2012 new...
26601    this is going to be a new dish for some of you...
17960    this is a receipe mom mom has done since i was...
16806    all the essential goodness of chicken pot pie ...
13030    steak rub for all kinds of steaks...good for g...
3434     i found this recipe in cake mix cookies by cam...
26966    a quick and different burger from midwest living.
7673     these jello shots are probably my favorite.   ...
10514    this is a delicious rich-tasting stew that can...
27873    a stovetop meal that is easy to make and quick...
24330    this is a easy pot roast that i like to make w...
Name: description, dtype: object
71494    This soup was all sorts of wonderful. I had an...
41098    I first saw this recipe on the Betty Crocker w...
90145    I made this for dinner the other night.  Very ...
67142    Incredible!  The lemon flavor was light and pe...
56328    This was very, very good. We used it on Chicke...
30256                                      awesome recipe.
Name: review, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [9]:
reviews["Unnamed: 0"] = [i for i in range(len(reviews))]
reviews = reviews.rename(columns = {"Unnamed: 0": 'id'})
print(reviews)

            id     user_id  recipe_id        date  rating  \
0            0       21752      57993  2003-05-01       5
1            1      431813     142201  2007-09-16       5
2            2      400708     252013  2008-01-10       4
3            3  2001852463     404716  2017-12-11       5
4            4       95810     129396  2008-03-14       5
...        ...         ...        ...         ...     ...
126691  126691     1270706     335534  2009-05-17       4
126692  126692     2282344       8701  2012-06-03       0
126693  126693      689540     222001  2008-04-08       5
126694  126694  2000242659     354979  2015-06-02       5
126695  126695      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [10]:
simpleRecipes = recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]
print(simpleRecipes)

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id  submitted  n_steps  \
28             213909 2008-05-06     11.0
60             213909 2008-05-16      NaN
90              58104 2004-09-29      4.0
91              47892 2008-02-13      NaN
94               4470 2001-09-03      NaN
...               ...        ...      ...
29873          724218 2008-05-27      9.0
29874           24386 2003-10-29      8.0
29905          305531 2007-09-29      4.0
29980          305531 2008-08-20      3.0
29983          152500 2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [11]:
recipes = recipes.astype({'submitted' : 'datetime64'})
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [19]:
print('Рецепты, добавленные в датасет не позже 2010 года:\n', recipes[recipes['submitted'].dt.year>=2010])

Рецепты, добавленные в датасет не позже 2010 года:
                                                     name      id  minutes  \
8                     1 in canada chocolate chip cookies  453467       45
13               blepandekager   danish   apple pancakes  503475       50
36                                 5 minute bread  pizza  487173       45
39                    bacon cheeseburger and fries  soup  447429       60
47                        full cool  macaroni and cheese  463219       25
...                                                  ...     ...      ...
29965                         zucchini sausage casserole  472482       80
29976                                      zucchini tots  505053       20
29992  zucchini  courgette soup  good for weight watc...  415406       45
29994                                     zuppa by luisa  464576       70
29998                                        zydeco soup  486161       60

       contributor_id  submitted  n_steps  \
8             1848091 2011-04-11     12.0
13             128473 2013-07-08     10.0
36            2406227 2012-09-19     30.0
39            1355934 2011-01-26      NaN
47             383346 2011-08-28      8.0
...               ...        ...      ...
29965          447199 2012-01-20     13.0
29976          798181 2013-07-31      NaN
29992          485109 2010-03-04      5.0
29994          226863 2011-09-20     14.0
29998          227978 2012-08-29      NaN

                                             description  n_ingredients  \
8      this is the recipe that we use at my school ca...           11.0
13     this recipe has been posted here for play in z...            NaN
36     my son recently showed me a recipe for artisan...            8.0
39     my son asked for cheeseburger soup, and having...           17.0
47     a recipe from ricardo that is popular with kid...           11.0
...                                                  ...            ...
29965  this was a real hit with my family! this recip...            NaN
29976  'the happy homemaker blog' shared this recipe ...            NaN
29992  this is a favourite winter warmer. by british ...            NaN
29994     this soup is a hearty meal!  from luisa musso.           17.0
29998  this is a delicious soup that i originally fou...            NaN

       description_length
8                     230
13                    144
36                    493
39                    438
47                    226
...                   ...
29965                 459
29976                 122
29992                 135
29994                  46
29998                 648

[3877 rows x 9 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [18]:
recipes = recipes.astype({'description':'string'})
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [20]:
recipes['name'] = recipes['name'].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [21]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes['name_word_count']

0        8
1        5
2        7
3        3
4        8
        ..
29995    8
29996    4
29997    5
29998    2
29999    7
Name: name_word_count, Length: 30000, dtype: int64

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [23]:
df1 = recipes[['contributor_id', 'id', 'description']]
grouped = df1.groupby('contributor_id').count()
a = grouped.sort_values(by = 'id', ascending = False)['id']
print('Выборка участников по убыванию кол-ва элементов:\n', a)
print(f'Участник под ID %s добавил максимальное кол-во рецептов!' %a.index[0])

Выборка участников по убыванию кол-ва элементов:
 contributor_id
89831         421
37449         346
37779         345
1533          186
169430        183
             ...
245835          1
245653          1
245590          1
245378          1
2002247884      1
Name: id, Length: 8404, dtype: int64
Участник под ID 89831 добавил максимальное кол-во рецептов!

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [26]:
result = reviews.groupby('recipe_id').agg({'rating':['mean']})
display(result)
print('Ρецепт без отзывов:', (len(recipes)-len(result)))

             rating
               mean
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]

Ρецепт без отзывов: 1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [27]:
recipes[['id', 'submitted']].groupby('submitted').count()

            id
submitted
1999-08-06   1
1999-08-09   4
1999-08-10   3
1999-08-11   3
1999-08-12   4
...         ..
2018-07-25   1
2018-07-30   1
2018-07-31   1
2018-08-11   2
2018-08-15   1

[4032 rows x 1 columns]

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [29]:
dd = pd.merge(recipes, reviews, on = None, left_on = 'id', right_on = 'recipe_id', how = 'inner')
dd = dd.drop(['minutes', 'contributor_id', 'submitted', 'n_steps', 'description', 'n_ingredients', 'description_length', 'name_word_count', 'indexes', 'date', 'review', 'recipe_id'], axis = 1)
dd = dd[['id', 'name', 'user_id', 'rating']]
display(dd[dd['id'] == 2691])
display(dd)

KeyError: "['indexes'] not found in axis"

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [32]:
dt1 = recipes[['id', 'name']]
dt2 = reviews.groupby('recipe_id')[['user_id']].count()
dt2.columns = ['reviews_count']
DataFrame2 = pd.merge(dt1, dt2, left_on = 'id', right_on = 'recipe_id', how = 'left')
print('Список рецептов, не имеющих отзывов:\n', DataFrame2[DataFrame2.review_count.isna()])
DataFrame2['review_count'] = (DataFrame2['review_count'].fillna(0.0)).astype('int64')
print('\nПолученный DataFrame:', DataFrame)
print('\nПроверка. \nРецепт с id 276594 не имеет отзывов.', DataFrame2[DataFrame2.id == 276594])

AttributeError: 'DataFrame' object has no attribute 'review_count'

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [35]:
reviews['date'] = pd.to_datetime(reviews['date'])
r = reviews.groupby(pd.Grouper(key = 'date', freq = 'Y')).mean()
yr = r['rating'].idxmin()
minRateYear = yr.year
print('Рецепты, добавленные в ', minRateYear, "году, имеют наименьший средний рейтинг")

Рецепты, добавленные в  2017 году, имеют наименьший средний рейтинг

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [37]:
recipes = recipes.sort_values(by = ['name_word_count'], ascending = False)
recipes.to_csv('recipes_result.csv', sep = ',')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,Subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343,15
26222,Subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087,14
27876,Top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129,14
28083,Tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436,14
22778,Roasted garlic stuffed steak with garlic mashe...,38409,85,53227,2002-08-26,NaN,this is for all those garlic lovers out there ...,8.0,88,13
...,...,...,...,...,...,...,...,...,...,...
23016,Rotini,207839,35,427101,2007-01-28,NaN,"i know the title is somewhat vague, but this i...",8.0,273,1
23063,Runzas,55733,45,68585,2003-03-06,17.0,this is an old recipe from a chain of restaura...,10.0,69,1
4340,Caesar,52399,1,67395,2003-01-27,4.0,"made with clamato, this is a very popular drin...",8.0,95,1
21111,Pomidori,353387,2,498271,2009-02-02,NaN,a fresh and fruity sipper you're sure to enjoy!,NaN,47,1
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341,1